<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

  <script>
    // Function to open the full-size image
    function openImage() {
        document.querySelector('.full-image').style.display = 'block';
    }
    // Function to close the full-size image
    function closeImage() {
        document.querySelector('.full-image').style.display = 'none';
    }
    // Attach the click event to the thumbnail image
    document.querySelector('.img-fluid').addEventListener('click', openImage);
  </script>

</body>

</html>
