---
layout: default
---
<!-- Page Header -->
<!-- document.addEventListener("contextmenu", evt => evt.preventDefault(), false); -->

{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')" >
  <script type="text/JavaScript">
    //courtesy of BoogieJack.com
    function killCopy(e){
    return false
    }
    function reEnable(){
    return true
    }
    document.onselectstart=new Function ("return false")
    if (window.sidebar){
    document.onmousedown=killCopy
    document.onclick=reEnable
    }
    </script>
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- {% for css_file in page.custom_css %}
  <link rel="stylesheet" type="text/css" href="{{ css_file }}">
  {% endfor %} -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content | markdownify}}

      </div>
    </div>
  </div>
